body {
    background-image: url("/images/bg.png");
}
#logohead {
    margin: auto;
    height: 280px;
    width: 280px;

}

.imgfood {
    height: 100px;
    width: 100px;
}

h1 {
    color: red;
    font-weight: bold;
    font-family: KacstArt;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #FAC352;
    background: -webkit-linear-gradient(#E0964E, #E48D00, yellow, #F67300, #FECD59, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.acateg:hover{
    text-decoration: none;
}
h1:hover{
    text-decoration-color: #F8F472;
}
.dropdown-toggle{
    color: #758690;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    background: -webkit-linear-gradient(#758690, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dropdown-toggle:hover{
    text-decoration-color: white;

}
.inputcompt{
    color: white;
    text-align: center;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: -moz-linear-gradient(red, black);
    font-weight: bold;
    /*kacsart fait tt décaler en plein écran*/
    font-family: KacstArt;
}
.row {
  margin-left: 10px;
}
.commander {
    color: #381138;
    text-align: center;
    height: 30px;
    border: brown;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background: -moz-linear-gradient(#E48D00, #FCB528, yellow, yellow, #FCB528, #E48D00);
    font-weight: bold;
    /*kacsart fait tt décaler en plein écran*/
    font-family: Dingbats;
}

.commander:hover{
    color: mediumpurple;
}

.box{
    color: white;
}
.retour {
    color: #F3F248;
    text-align: center;
    padding: 5px;
    border: black;
    border-radius: 5px;
    text-decoration: none;
    background: -moz-linear-gradient(grey, black, darkgrey);
    font-weight: bold;
    /*kacsart fait tt décaler en plein écran*/
    font-family: Dingbats;
}
.retour:hover{
    color: #F3F248;
}
.btn-primary {
    color: #122b40;
    font-weight: bold;
    border-color: #761c19;
    background: -moz-linear-gradient(#E48D00, #FCB528, yellow, yellow, #FCB528, #E48D00);
}
.btn-primary:hover {
    color: #122b40;
    border-color: white;
}
.btn-default{
    color: #F5FC13;
    font-weight: bold;
    background: -moz-linear-gradient(grey, black, darkgrey);
    border-color: black;
}
.btn-default:hover{
    color: #F5FC13;
    border-color: white;
}
#signup-link{
    background: -webkit-linear-gradient(#758690, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 17px;
}
#signup-link:hover{
    text-decoration-color: grey;
}
.form-control {
    color: #F5FC13;
    font-weight: bold;
    background: -moz-linear-gradient(grey, black, darkgrey);
    border-color: black;
}
u{
    font-weight: bold;
}
.panier {
    height: 40px;
    width: 40px;
}
.supprimer{
    color: white;
    text-align: center;
    height: 30px;
    border: brown;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    background: -moz-linear-gradient(grey, black, red, black, grey);
    font-weight: bold;
    /*kacsart fait tt décaler en plein écran*/
    font-family: Dingbats;
}
.supprimer:hover{
    color: yellow;
}
.update{
    color: yellow;
    text-align: center;
    height: 30px;
    border: brown;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    background: -moz-linear-gradient(brown, #5F0C0C, black, black, #5F0C0C, brown);
    font-weight: bold;
    /*kacsart fait tt décaler en plein écran*/
    font-family: Dingbats;
}
.update:hover{
    color: #FF8B00;
}
.compteurpanier{
    font-weight: bold;
    color: yellow;
}