<template name="update">
    <div class="container">
        <div class="row">
            <div class="box col-xs-11 text-center col-sm-6 text-center col-md-4 text-center">
                <div class="content">
                    <form class="updateform" method="post">

                       <p>Name : </p> <input class="nameup" name="nameup" value="{{name}}">
                        <p>Price : </p><input class="priceup" name="priceup"  value="">
                        <p>Image : </p><input class="imageup" name="imageup"  value="">
                        <p>Description : </p><input class="descriptionup" name="descriptionup"  value="">

                        <input class="updatesub" type="submit" name="updatesub" value="Update !">
                    </form>
                    </div>
            </div>
        </div>
    </div>

</template>