<template name="categories">
    {{>header}}
    <div class="container">
        <div class="row">
            <div class="box col-xs-11 text-center col-sm-6 text-center col-md-4 text-center">
                <div class="content">
                    {{#each categories}}
                    <a class="acateg" href="/categories/{{name}}"><h1>{{name}}</h1></a>
                    <img class="imgfood" src="/images/{{image}}">
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</template>