<template name="desserts">
    <div class="container">
        <div class="row">
            <div class="box col-xs-11 text-center col-sm-6 text-center col-md-4 text-center">
                <div class="content">
                    <h1>DESSERTS</h1>
                    {{> loginButtons}}
                    {{>panier}}
                    {{#each desserts}}
                    <form class="formu" method="post">
                    <h3><u>{{name}}</u></h3>
                    <h2>{{price}}€</h2>
                    <img class="imgfood" src="/images/{{image}}">
                    <input class="inputcompt" name="countitem" type="number" min="0" max="99" value="0">
                    <input class="commander" type="submit" name="commander" value="Valider !">
                    </form>
                        {{/each}}

                    <a href="{{pathFor route='categories'}}" class="retour">Retour</a>
                </div>
            </div>
        </div>
    </div>
</template>